@media screen and (min-width: 1024px) {
    #menu {
        display: none;
    }

    #navigation a {
      color: white;
    }

    nav ul {
        list-style: none;
        display: inline-block;
        width: auto;
      }
      
      nav {
        display: inline-block;
      }
      
      nav li {
        display: inline-block;
        margin: 0 2vw 0 2vw;
      }
      
      nav li:last-child {
        margin-right: 2vw;
      }

      nav li {
        display: inline-block;
        margin: 0 1vw 0 1vw;
      }

      #navigation {
        display: block;
        margin: 0;
      }

      .nav-list-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2vw;
      }

      nav li {
        display: inline-block;
        grid-row: 1/2;
        margin: 12px 0 12px 0;
      }

      .switch {
        margin-left: 10px;
      }
    
      nav li:last-child {
        display: flex;
      }

      .dark-mode {
        display: none;
      }

      .grid-form-benefit {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }

      .form-wrapper {
        grid-column: 2/3;
      }

      #membershipBenefits{
        grid-column: 3/4;
        width: 100%;
      }
}

