@media screen and (min-width: 1024px) {
    nav ul {
        list-style: none;
        display: inline-block;
      }
      
      nav {
        display: inline-block;
      }
      
      nav li {
        display: inline-block;
        margin: 0 1vw 0 1vw;
      }
      
      nav li:last-child {
        margin-right: 2vw;
      }

      .navbar {
        display: none;
      }

    .pc-nav {
        display: flex;
        align-items: center;
    }

    .pc-nav ul {
        margin-bottom: 0;
    }
}